{% load static %} 
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">
        <li><a href="{% url 'index'%}"><i class="icon-dashboard"></i><span>Usuarios</span> </a> </li>
        <li><a href="{% url 'lsolicitudes'%}"><i class="icon-list-alt"></i><span>Solicitudes</span> </a> </li>
        <li><a href="{% url 'lsolicitudesen' %}"><i class="icon-bar-chart"></i><span>Entregas</span> </a> </li>
        <li><a href="{% url 'ldocumentos'%}"><i class="icon-facetime-video"></i><span>Documentos</span> </a></li>
        <li><a href="{% url 'laudio' %}"><i class="icon-code"></i><span>Audio de documento</span> </a> </li>
        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Drops</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="icons.html">Icons</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="pricing.html">Pricing Plans</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="signup.html">Signup</a></li>
            <li><a href="error.html">404</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->