{% load static %}
<!DOCTYPE html>
<html lang="en">
  
 <head>
    <meta charset="utf-8">
    <title>index - Registro de trabajador</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap-responsive.min.css'%}" rel="stylesheet" type="text/css" />

<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/pages/signin.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="index.html">
				Registro de Trabajador				
			</a>		
			
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li class="">						
						<a href="{% url 'login' %}" class="">
							Ya tienes cuenta? Ingresa aquí
						</a>
						
					</li>					
				</ul>
				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div class="account-container register">
	
	<div class="content clearfix">
		
		<form action="{% url 'resgis_tra' %}" method="post">
		
			<h1>Crea tu cuenta</h1>			
			
			
			{% csrf_token %}
			{{ formulario }}	


				{% comment %} <div class="field">
					<label for="nombre">Nombre:</label>
					<input type="text" id="nombre" name="nombre" value="" placeholder="nombre" class="login" />
				</div> <!-- /field -->
				
				<div class="field">
					<label for="apellido">Apellido:</label>	
					<input type="text" id="apellido" name="apellido" value="" placeholder="apellido" class="login" />
				</div> <!-- /field -->
				
				
				<div class="field">
					<label for="rut">Rut:</label>
					<input type="text" id="rut" name="rut" value="" placeholder="rut" class="login"/>
				</div>
				
				<div class="field">
					<label for="Area_trabajo">Area de trabajo:</label>
					<input type="text" id="area_trabajo" name="area_trabajo" value="" placeholder="area trabajo" class="login"/>
				</div> <!-- /field -->
				
				<div class="field">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" value="" placeholder="contraseña" class="login"/>
				</div> <!-- /field -->
				
				<div class="field">
					<label for="confirm_password">Confirm Password:</label>
					<input type="password" id="confirm_password" name="confirm_password" value="" placeholder="confirmar contraseña" class="login"/>
				</div> <!-- /field -->
				
			</div> <!-- /login-fields --> {% endcomment %} 
			
			<div class="login-actions">
				<button class="button btn btn-primary btn-large">Registrar</button>
				
				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Aceptar terminos y condiciones.</label>
				</span>
							
				
			</div> <!-- .actions -->
			
		</form>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->


<!-- Text Under Box -->
<div class="login-extra">
	¿Ya tienes una cuenta? <a href="login.html">Ingresa a tu cuenta</a>
</div> <!-- /login-extra -->


<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/bootstrap.js"></script>

<script src="js/signin.js"></script>

</body>

 </html>