{% extends '_partials/_baseusuario.html' %}

{% load static %}


{% block title %}Usuario{% endblock %}

{% block container %} 

<div class="row">
        
        <div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Documentos de Usuario</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="shortcuts"> <a href="javascript:;" class="shortcut"><i class=""></i><span
                                        class="shortcut-label">Generar codigo QR</span> </a><a href="javascript:;" class="shortcut"><i
                                            class=""></i><span class="shortcut-label">Envio whatsapp</span> </a> 
                                            </a><a href="javascript:;" class="shortcut"><i class=""></i><span
                                                class="shortcut-label">Agregar</span> </a><a href="javascript:;" class="shortcut"><i
                                                    class=""></i><span class="shortcut-label">Editar</span> </a><a href="javascript:;" class="shortcut"><i class=""></i> <span class="shortcut-label">Eliminar</span> 
              <!-- /shortcuts --> 
            </div>


            <!-- /widget-content --> 
          </div>
          </div>
          <!-- /widget -->
        </div>
        <div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Información de Usuario</h3>
            </div>
            <!-- /widget-content --> 
          </div>
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 --> 
      </div>
      <!-- /row --> 

{% endblock %}