{% load static %}
<!DOCTYPE html>
<html lang="en">
  
 <head>
    <meta charset="utf-8">
    <title>index - Editar Usuario</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"> 
    
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/bootstrap-responsive.min.css'%}" rel="stylesheet" type="text/css" />

<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/pages/signin.css' %}" rel="stylesheet" type="text/css">

</head>



<body>
	
	<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			
			<a class="brand" href="#">
				Cargar Documento		
			</a>		
			
			<div class="nav-collapse">
				<ul class="nav pull-right">					
					<li class="">						
						<a href="{% url 'ldocumentos' %}" class="">
							<i class="icon-chevron-left"></i>
							Volver a la pagina principal 
						</a>
						
					</li>
				</ul>
				
			</div><!--/.nav-collapse -->	
	
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->



<div class="account-container register">
	
	<div class="content clearfix">
		
		<div>
		
			<h1>Cargar Documento</h1>			
			
			<form method= "POST" action= "{% url 'adocumento' %}" enctype="multipart/form-data">{% csrf_token %}
                {{ docuform}}
			
			<div class="login-actions">								
									
				<button class="button btn btn-primary btn-large">Guardar</button>
			</div>	
			<div class="login-actions">	
				<button class="button btn btn-primary btn-large">Cancelar</button>
			</div> <!-- .actions -->
            </form>
		</div>
		
	</div> <!-- /content -->
	
</div> <!-- /account-container -->



</body>

 </html>