{% extends '_partials/_base.html' %}

{% load static %}


{% block title %}Mi titulo{% endblock %}

{% block container %} 

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>  
    function confirmarEliminacion(id){
      Swal.fire({
          title: '¿Estas seguro/a?',
          text: "No se podra recuperar al usuario",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, Eliminar',
          cancelButtonText: 'No, volver'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              type:'POST',
              data:{info:id, csrfmiddlewaretoken:'{{ csrf_token }}'},
              url:"{% url 'eliminarUsuario' %}",
              success:function(response){
                if (response.state == 'ok'){
                  location.reload();
                }
              },
              error:function(){
                alert('Ocurrió un error inesperado')
              }

            });
            
          }
        })
   }
</script>


<div class="row">
        <div class="span15">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Usuarios</h3>
              
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
               <body>
                 <div class="container">
                      <div class="">
                        <div class="cold-md-4">
                          <div class="table">
                            <table class="table table-condensed">
                              <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Nombre</th>
                                  <th>Apellido</th>
                                  <th>Rut</th>
                                  <th>Operaciones</th>
                                </tr>
                              </thead>
                                <tbody>
                                  {% for c in Usuarioc%} 
                                  <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{c.name}}</td>
                                    <td>{{c.apellido}}</td>
                                    <td>{{c.rut}}</td>

                                    {% comment %}<td>{{c.direccion}}</td>
                                    <td>{{c.genero}}</td>
                                    <td>{{c.edad}}</td>
                                    {% endcomment %}                                     
                                    <td><a href="{% url 'editarusu' c.id %}" class="btn btn-sm btn-block btn-info">Editar</a>
                                    <span href="#" onclick="confirmarEliminacion({{c.id}})" class="btn brn-sm btn-block btn-danger">Eliminar</span></td>
                                  </tr>
                                  {% endfor%}
                                </tbody>  
                            </table>
                          </div>
                        </div>    
                      </div>    
                  </div>
               </body>  
              <div><span><a href="{% url 'resgis_us'%}" class="btn btn-block btn-info" >Agregar Usuario</a></span> 
              </div>                                
              <!-- /shortcuts --> 
            </div>


            <!-- /widget-content --> 
          </div>
        </div>
          <!-- /widget -->
        </div>
        <!-- /span6 --> 
      </div>
      <!-- /row --> 

{% endblock %}

{% block javascript %}
  
{% endblock %}