{% extends '_partials/_base.html' %}

{% load static %}

{% load qrgen %}

{% block title %}Mi titulo{% endblock %}

{% block container %} 

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>  
    function mostrarqr(mostrarqr){
      Swal.fire({
          title: '',
          text: 'Escanea este código para descargar el documento',
          imageUrl:mostrarqr,
          showCancelButton: true,
          cancelButtonColor: '#d33',
          cancelButtonText: 'Cerrar'
        })
   }
</script>

<div class="row">
        
        <div class="span12">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Audio de la Empresa</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
            <body>
                 <div class="container">
                      <div class="">
                        <div class="cold-md-4">
                          <div class="table">
                            <table class="table table-condensed">
                              <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Nombre</th>
                                  <th>Audio</th>
                                  <th>N_documento</th>
                                </tr>
                              </thead>
                                <tbody>
                                  {% for c in laudio%} 
                                  <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{c.name}}</td>
                                    <td>{{c.audio}}</td>
                                    <td>{{c.n_docu}}</td>                                      
                                    <td><a href="{}" class="btn btn-sm btn-block btn-info">Editar documento</a>

                                    <a href="#" onclick="mostrarqr('{% generate_qr request media_url=c.audio.url %}')" class="btn btn-sm btn-block btn-info">Codigo QR</a>                                    
                                  </tr>
                                  {% endfor%}
                                </tbody>  
                            </table>
                          </div>
                        </div>    
                      </div>    
                  </div>
               </body> 
               <div><span><a href="{% url 'agaudio' %}"
                                        class="btn btn-block btn-info" >Cargar Audio</a></span> 
             </div>                                        
              <!-- /shortcuts --> 
            </div>


            <!-- /widget-content --> 
          </div>
          </div>
          <!-- /widget -->
        </div>

{% endblock %}