{% extends '_partials/_base.html' %}

{% load static %}


{% block title %}Mi titulo{% endblock %}

{% block container %} 

<div class="row">
        <div class="span15">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Historial de entrega de Solicitudes</h3>
            </div> 
            <!-- /widget-header -->
            <div class="widget-content">  
                <body>
                    <div class="container">
                         <div class="">
                           <div class="cold-md-2">
                             <div class="table">
                               <table class="table table-condensed">
                                 <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Estado</th>
                                    <th>Rut Usuario</th>
                                    <th>Titulo</th>
                                    <th>Audio/Documento Enlazado</th>
                                    <th>Tipo</th>
                                    <th>Entrega</th>
                                  </tr>
                                  </thead>
                                   <tbody>
                                     {% for c in soliformE%} 
                                     <tr>
                                       <td>{{forloop.counter}}</td>
                                       <td>{{c.get_estado_display}}</td>
                                       <td>{{c.usuario}}</td>
                                       <td>{{c.titulo}}</td>
                                       <td>{{c.Enl_audio}}</td>
                                       <td>{{c.get_tipo_display}}</td>
                                       <td>{{c.get_entrega_display}}</td> 
                                     </tr>
                                     {% endfor%}
                                   </tbody>  
                               </table>
                             </div>
                           </div>    
                         </div>    
                     </div>
                  </body>
             </div>                             
                                          
              <!-- /shortcuts --> 
            </div>


            <!-- /widget-content --> 
          </div>
          </div>
         
        <!-- /span6 --> 
      </div>
      <!-- /row --> 

{% endblock %}

