{% extends '_partials/_base.html' %}

{% load static %}


{% block title %}Mi titulo{% endblock %}

{% block container %} 

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>  
    function confirmarEliminacionS(id){
      Swal.fire({
          title: '¿Estas seguro/a?',
          text: "No se podra recuperar la solicitud",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, Eliminar',
          cancelButtonText: 'No, volver'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
              type:'POST',
              data:{info:id, csrfmiddlewaretoken:'{{ csrf_token }}'},
              url:"{% url 'eliminarSolicitud' %}",
              success:function(response){
                if (response.state == 'ok'){
                  location.reload();
                }
              },
              error:function(){
                alert('Ocurrió un error inesperado')
              }

            });
            
          }
        })
   }
</script>

<div class="row">
        <div class="span20">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Solicitudes</h3>
            </div> 
            <!-- /widget-header -->
            <div class="widget-content">  
                <body>
                    <div class="container">
                         <div class="">
                           <div class="cold-md-2">
                             <div class="table">
                               <table class="table table-condensed">
                                 <thead>
                                  <tr>
                                    <th>Id</th>
                                    <th>Estado</th>
                                    <th>Rut Usuario</th>
                                    <th>Titulo</th>
                                    <th>Documento/Audio</th>
                                    <th>Tipo</th>
                                    <th>Entrega</th>
                                  </tr>
                                  </thead>
                                   <tbody>
                                     {% for c in soliform%} 
                                     <tr>
                                       <td>{{forloop.counter}}</td>
                                       <td>{{c.get_estado_display}}</td>
                                       <td>{{c.usuario}}</td>
                                       <td>{{c.titulo}}</td>
                                       <td>{{c.Enl_audio}}</td>
                                       <td>{{c.get_tipo_display}}</td>
                                       <td>{{c.get_entrega_display}}</td>

                                       <td><a href="{% url 'editarsoli' c.id %}" class="btn btn-sm btn-block btn-info">Editar Solicitudes</a>
                                       <span href="#" onclick="confirmarEliminacionS({{c.id}})" class="btn brn-sm btn-block btn-danger">Eliminar Solicitud</span></td>
                                     </tr>
                                     {% endfor%}
                                   </tbody>  
                               </table>
                             </div>
                           </div>    
                         </div>    
                     </div>
                  </body>
                 <div><span><a href="{% url 'Csolicitud'%}"
                                        class="btn btn-block btn-info" >Crear solicitud</a></span> 
             </div>                             
                                          
              <!-- /shortcuts --> 
            </div>


            <!-- /widget-content --> 
          </div>
          </div>
         
        <!-- /span6 --> 
      </div>
      <!-- /row --> 

{% endblock %}

{% block javascript %}
  
{% endblock %}